/* 1. Reset básico (limpa bagunça do navegador) */
body {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
  background-color: #f5f7fa; /* cinza claro */
}

/* Logo dentro do menu lateral */
.menulateral .logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.menulateral .logo img {
  width: 50px;
  margin-right: 10px;
}

.menulateral .logo h1 {
  font-size: 1.2rem;
  color: white;
  margin: 0;
  font-weight: bold;
}

/* Nome da empresa */
.ImobConnect {
  font-weight: bold;
  margin: 0;
}

/* 3. Menu lateral */
.menulateral {
  background-color: #1e293b; /* azul escuro */
  min-height: 100vh; /* ocupa a tela toda */
  color: rgb(26, 18, 100);
  padding: 20px;
}

/* Links do menu */
.menulateral a {
  display: block;
  color: #ffffff; /* cinza claro */
  text-decoration: none;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 6px;
}

/* Quando passa o mouse */
.menulateral a:hover {
  background-color: #334155;
  color: white;
}

/* 4. Conteúdo principal */
.col-9 {
  padding: 20px;
}

/* 7. Botões padrão */
button {
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}