



.foto{

    margin: 20px;
    
}

.ImobConnect{

    margin: 0px 30px 30px 30px ;

}

.botaoinicio{

    margin: 30px 0px 0px 0px;

}

.quad{

    margin: 500px 100px 100px 0px;

}

.menul{

    margin: 150px 0px 0px 0px;
    position: relative;
}

.tabelausuarios{

    margin: 70px 0px 0px 0px;

}

.cartao2{

    margin: 30px 0px 0px 0px;
}

.tudo{

    border-radius: 100px;

}